dist: trusty
language: php
php:
  - '7.1'

services:
   - mysql
 # - elasticsearch

# Cache composer packages so "composer install" is faster
cache:
   directories:
     - $HOME/.composer/cache/files

# sudo: required
# addons:
#   chrome: stable 

addons:
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable

before_install:
  - # start your web application and listen on `localhost`
  - google-chrome-stable --headless --disable-gpu --remote-debugging-port=9222 http://127.0.0.1:8000 &

#install:
  # - wget http://selenium.googlecode.com/files/selenium-server-standalone-2.35.0.jar

install:
  - export DISPLAY=':99'
  - Xvfb :99 -screen 0 1280x1024x16 +extension RANDR > /dev/null 2>&1 &

before_script:
  #- "export DISPLAY=:99.0"
  #- "sh -e /etc/init.d/xvfb start"
  #- sleep 3 # give xvfb some time to start
  - php bin/console server:run &
  - "wget http://selenium-release.storage.googleapis.com/3.0-beta3/selenium-server-standalone-3.0.0-beta3.jar -O selenium-server-standalone.jar && sudo mv selenium-server-standalone.jar /usr/local/bin"
  - "wget http://chromedriver.storage.googleapis.com/2.23/chromedriver_linux64.zip -O chromedriver.zip && unzip chromedriver.zip && sudo mv chromedriver /usr/local/bin"
  - "java  -Dwebdriver.chrome.driver=/usr/local/bin/chromedriver  -jar /usr/local/bin/selenium-server-standalone.jar &"
  # - java -jar selenium-server-standalone-2.35.0.jar > /dev/null &
  - sleep 3

script:
   - touch .env
   - cp .env.dist .env
   - composer install
   #=====================================================================
   # Accès à la base de données
   #=====================================================================
   - php bin/console doctrine:database:create --env=test
   - php bin/console doctrine:schema:create --env=test
   - php bin/console doctrine:fixtures:load -n --env=test
   #=====================================================================
   
   #=====================================================================
   # Outils de tests (fonctionnels et unitaires)
   #=====================================================================
   - ./vendor/bin/simple-phpunit
   # - ./vendor/bin/simple-phpunit --filter=testForm
   
   # A tool to automatically fix PHP coding standards issues
   - ./vendor/bin/php-cs-fixer fix --using-cache=no --verbose --dry-run --diff --rules=@Symfony src
   
   # Behat is an open source behavior-driven development framework for PHP
   # you start by writing human-readable sentences that describe a feature of your application and how it should work, 
   # and only then implement this behavior in software.
   - vendor/bin/behat --profile=default -f progress
   #=====================================================================
cache:
  directories:
    - $HOME/.php-cs-fixer

# Define an environment variable
env:
  - SYMFONY_VERSION="3.4" DB=mysql