language: php
php:
  - '7.1'

services:
   - mysql
  #- elasticsearch

# Cache composer packages so "composer install" is faster
# cache:
#   directories:
#     - $HOME/.composer/cache/files

# Matrix to test in every php version
# matrix:
  # Fast finish allows to set the build as "finished" even if the "allow_failures" matrix elements are not finished yet.
  # fast_finish: true
  # include:
  #   - php: 7.1
    #- php: hhvm
  #allow_failures:
    #- php: hhvm

script:
   - touch .env
   - cp .env.dist .env
   #- cp ./config/parameters.yml.travis  ./config/parameters.yml
   #- cat ./config/parameters.yml 
   - composer install
   - php bin/console security:check --end-point=http://security.sensiolabs.org/check_lock
   # this checks that the application doesn't use dependencies with known security vulnerabilities
   
   #=====================================================================
   # Accès à la base de données
   #=====================================================================
   - php bin/console doctrine:database:create --env=test
   - php bin/console doctrine:schema:create --env=test
   - php bin/console doctrine:fixtures:load -n --env=test
   #=====================================================================
   
   #=====================================================================
   # Outils de tests
   #=====================================================================
   # - ./vendor/bin/simple-phpunit
   # A tool to automatically fix PHP coding standards issues
   # - ./vendor/bin/php-cs-fixer fix --using-cache=no --verbose --dry-run --diff --rules=@Symfony src
   # A tool to automatically fix PHP coding standards issues
   # Run phpspec tests ...
   #- vendor/bin/phpspec run --no-interaction --format=dot
  # - vendor/bin/phpspec run --config=phpspec.yml --no-interaction
   # Run behat tests ...
   #- bin/behat --profile=default -f progress
   # ou - behat -fprogress --strict --tags '~@php-version,'`php php_version_tags.php`

# cache:
#   directories:
#     - $HOME/.php-cs-fixer

# Define an environment variable
env:
  - SYMFONY_VERSION="3.4" DB=mysql