language: php

addons:
   chrome: stable 

php:
  - '7.1'

services:
   - mysql
 # - elasticsearch

# Cache composer packages so "composer install" is faster
cache:
   directories:
     - $HOME/.composer/cache/files

before_script:
  - composer install
  - touch .env
  - cp .env.dist .env
  # Pour utiliser Behat
  - "sh start-server.sh > /dev/null &"
  - "phantomjs --webdriver=4444 > /dev/null &"

script:
   - google-chrome-stable --no-sandbox --headless --disable-gpu --remote-debugging-port=9222 http://127.0.0.1:8000 &
   - php bin/console server:run &
   #=====================================================================
   # Accès à la base de données
   #=====================================================================
   - php bin/console doctrine:database:create --env=test
   - php bin/console doctrine:schema:create --env=test
   - php bin/console doctrine:fixtures:load -n --env=test
   #=====================================================================
   
   #=====================================================================
   # Outils de tests (fonctionnels et unitaires)
   #=====================================================================
   - ./vendor/bin/simple-phpunit --verbose
   # - ./vendor/bin/simple-phpunit --filter=testLinks
   # - ./vendor/bin/simple-phpunit --filter=testForm
   
   # A tool to automatically fix PHP coding standards issues
   - ./vendor/bin/php-cs-fixer fix --using-cache=no --verbose --dry-run --diff --rules=@Symfony src
   
   # Behat is an open source behavior-driven development framework for PHP
   # you start by writing human-readable sentences that describe a feature of your application and how it should work, 
   # and only then implement this behavior in software.
   - vendor/bin/behat --profile=default -f progress
   #=====================================================================

after_failure:
  - cat var/log/test.log

cache:
  directories:
    - $HOME/.php-cs-fixer

# Define an environment variable
env:
  - SYMFONY_VERSION="3.4" DB=mysql